@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins Extra Bold Italics';
    src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf');
}

:root {
    /* colors */
    --primary-clr-purple: hsl(259, 100%, 65%);
    --primary-clr-light-red: hsl(0, 100%, 67%);

    --neutral-clr-White: hsl(0, 0%, 100%);
    --neutral-clr-off-white: hsl(0, 0%, 94%);
    --neutral-clr-light-grey: hsl(0, 0%, 86%);
    --neutral-clr-smokey-grey: hsl(0, 1%, 44%);
    --neutral-clr-off-black: hsl(0, 0%, 8%);

    /* Font */
    --ff-Poppins: 'Poppins';
    --ff-Poppins-Extra-Bold-Italic: 'Poppins Extra Bold Italics';
    --fs-inputs: 44px;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {    
    background-color: var(--neutral-clr-off-white);
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.content-container { 
    background-color: var(--neutral-clr-White);   
    font-family: var(--ff-Poppins);
    height: 60vh;
    width: 90vw;    
    border-radius: 1em 1em 5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calendar-container {
    margin-top: 3em;
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 1em;
}
.date-label {
    font-weight: var(--fw-bold);
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--neutral-clr-smokey-grey);
    margin: .5em 1em .5em 0;
}
.date-button{
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-clr-White);
    border: 1px solid var(--neutral-clr-light-grey);
    border-radius: 8px;
    width: 5em;    
    height: 3em;
    font-size: 20px;
    font-weight: var(--fw-extra-bold);
    font-family: var(--ff-Poppins);
}

.dropdown, #day-button-input, #month-button-input, #year-button-input {
    display: none;
}
.image-container{
    background-color: var(--primary-clr-purple);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 8em;
    justify-content: center;
    position: absolute;
}
hr{
    margin-top: 4em;
    position: relative;
    width: 100%;
    border: 1px solid var(--neutral-clr-off-white);
}
.output-content{
    font-family: var(--ff-Poppins-Extra-Bold-Italic);
    font-size: var(--fs-inputs);
    font-weight: var(--fw-extra-bold);
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 2.5em;
    margin-right: 2em;
}

#output-years::before{
    content: '38';
    color: var(--primary-clr-purple);
}
#output-months::before{
    content: '3';
    color: var(--primary-clr-purple);
}
#output-days::before{
    content: '26';
    color: var(--primary-clr-purple);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
