@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins Extra Bold Italics';
    src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: 'Poppins Italics';
    src: url('../assets/fonts/Poppins-Italic.ttf');
}

:root {
    /* colors */
    --primary-clr-purple: hsl(259, 100%, 65%);
    --primary-clr-light-red: hsl(0, 100%, 67%);

    --neutral-clr-White: hsl(0, 0%, 100%);
    --neutral-clr-off-white: hsl(0, 0%, 94%);
    --neutral-clr-light-grey: hsl(0, 0%, 86%);
    --neutral-clr-smokey-grey: hsl(0, 1%, 44%);
    --neutral-clr-off-black: hsl(0, 0%, 8%);

    /* Font */
    --ff-Poppins: 'Poppins';
    --ff-Poppins-Extra-Bold-Italic: 'Poppins Extra Bold Italics';
    --ff-Poppins-Italic: 'Poppins Italics';
    --fs-inputs: 18px;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {    
    background-color: var(--neutral-clr-off-white);
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.content-container { 
    background-color: var(--neutral-clr-White);   
    font-family: var(--ff-Poppins);
    height: 65vh;
    width: 90vw;    
    border-radius: 1em 1em 5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calendar-container {
    margin-top: 3em;
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .8em;
    justify-content: center;
    align-items: center;
}
label {    
    font-weight: var(--fw-bold);
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--neutral-clr-smokey-grey);           
    text-wrap: nowrap;
}
.date-input {    
    display: flex;    
    text-align: center;
    background-color: var(--neutral-clr-White);
    border: 1px solid var(--neutral-clr-light-grey);
    border-radius: 8px;
    width: 5em;    
    height: 3em;
    font-size: var(--fs-inputs);
    font-weight: var(--fw-extra-bold);
    font-family: var(--ff-Poppins);        
    outline: 0;
}
.date-input:focus{
    border: 2px solid var(--primary-clr-purple);
    caret-color: var(--primary-clr-purple);
}
.dropdown option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-decoration: none;
    overflow-y: auto;    
}
.dropdown option:hover{
    background-color: var(--neutral-clr-light-grey);
}
.dropdown{
    margin-top: .2em;
    width: 6.2em;
    background-color: var(--neutral-clr-off-white);
    position: absolute;
    z-index: 1;
    text-align: center;
    border: 1px solid var(--neutral-clr-light-grey);
    border-radius: 0 0 8px 8px;
}
.hidden {
    display: none;
}
#day-dropdown, #month-dropdown, #year-dropdown{
    height: 7em;
    overflow-y: scroll;
}
#day-dropdown option, #month-dropdown option, #year-dropdown option{
    font-family: var(--ff-Poppins);
    font-size: 16px;
    font-weight: var(--fw-bold);
    color: var(--neutral-clr-off-black);
    border: 1px solid var(--neutral-clr-light-grey);
    padding: .5em 0 .5em 0;
}
.image-container{
    margin: -1.8em 0 0 0;
}
.image-container button{
    background-color: var(--primary-clr-purple);
    border-radius: 50%;
    background-image: url("../assets/images/icon-arrow.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    background-position: 50%;
    background-size: 50%;
    border: none;
}
.image-container button:active{
    background-color: var(--neutral-clr-off-black);
}
hr{
    width: 80vw;
    border: 1px solid var(--neutral-clr-off-white);
    margin: 4em 0 0 0;
}
.empty-field,
.invalid-field {
    font-family: var(--ff-Poppins-Italic);
    font-size: 12px;
    color: var(--primary-clr-light-red);
    display: none;  
    position: absolute; 
}
.input-container {
    position: relative; 
}
.output-content{
    font-family: var(--ff-Poppins-Extra-Bold-Italic);
    font-weight: var(--fw-extra-bold);
    display: flex;
    flex-direction: column;
    
}

.output-content div{
    display: inline-flex;
}
#output-years-before, #output-months-before, #output-days-before{
    color: var(--primary-clr-purple);
    font-size: calc(4rem / 1.25);
    margin: 0 -1em 0 -10vw;
    line-height: 1.2em;

}
#output-years-before::after{
    content: ' years';
    color: var(--neutral-clr-off-black);
}
#output-months-before::after{
    content: ' months';
    color: var(--neutral-clr-off-black);
}
#output-days-before::after{
    content: ' days';
    color: var(--neutral-clr-off-black);
}
.attribution { 
    position: relative;
    font-size: 11px; 
    text-align: center; 
 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 450px) {
    body{
        height: 100vh;
    }
    #output-years-before, #output-months-before, #output-days-before{
        font-size: calc(5.4rem / 1.25);
        margin: -.2em -.5em 0 -10vw;
    }
}
@media only screen and (min-width: 600px) {
    #output-years-before, #output-months-before, #output-days-before{
        margin: -.1em -.1em 0 -15vw;
    }
}
@media only screen and (min-width: 800px) {
    .content-container { 
        max-height: 60vh;
        max-width: 700px;
        border-radius: 1em 1em 7em 1em;
    }
    #output-years-before, #output-months-before, #output-days-before{
        margin: 0 1.8em 0 0;
        font-size: 60px;
        font-size: calc(6rem / 1.25);
    }
    hr{
        max-width: 600px;
    }
    .image-container button{
        margin: 0 0 0 550px;
    }
    .date-input { 
        margin: 0 1em -1.5em 0;
        width: 7em;
        transform: translate(-3em);
    }
    label{
        margin: 0 0 0 -4em;
    }
    .invalid-field, 
    .empty-field {
        display: none;  
        position: absolute;
        top: 7em;
        left: -4.5em;
    }
}